<!-- Copyright 2017 University of Cincinnati
     All rights reserved. See LICENSE file at:
     https://github.com/MatthewVerbryke/inmoov-ros
     Additional copyright may be held by others, as reflected in the commit history.-->

<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find inmoov_control)/config/inmoov_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/inmoov" args=" joint_state_controller
                    right_arm_controller
                    left_arm_controller
                    head_controller	
                    hip_controller
                    r_hand_controller
                    l_hand_controller
					jaw_position_controller
					eyes_updown_position_controller
					eye_leftright_position_controller
                    right_thumbCMC_position_controller
                    right_thumbIP_position_controller
                    right_indexMCP_position_controller
                    right_indexDIP_position_controller
                    right_middleMCP_position_controller
                    right_middleDIP_position_controller
                    right_ringCMC_position_controller
                    right_ringPIP_position_controller
                    right_ringDIP_position_controller
                    right_pinkyCMC_position_controller
                    right_pinkyPIP_position_controller
                    right_pinkyDIP_position_controller
                    left_thumbCMC_position_controller
                    left_thumbIP_position_controller
                    left_indexMCP_position_controller
                    left_indexDIP_position_controller
                    left_middleMCP_position_controller
                    left_middleDIP_position_controller
                    left_ringCMC_position_controller
                    left_ringPIP_position_controller
                    left_ringDIP_position_controller
                    left_pinkyCMC_position_controller
                    left_pinkyPIP_position_controller
                    left_pinkyDIP_position_controller
                    
"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/inmoov/joint_states" />
  </node>

</launch>
