<?xml version="1.0"?>
<robot>


<!--GAZEBO_ROS_CONTROL PLUGIN-->


<gazebo>
  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    <robotNamespace>/inmoov</robotNamespace>
  </plugin>
</gazebo>



<!--TRANSMISSION PLUGINS-->

	<!--Head & Face-->

<transmission name="head_tran1">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="head_tilt">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="headmotor1">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="head_tran2">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="head_updown">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="headmotor2">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="head_tran3">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="head_leftright">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="headmotor3">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="jaw_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="jaw">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="jawmotor">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="eye_tran1">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="eyes_updown">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="eyemotor1">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="eye_tran2">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="eye_leftright">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="eyemotor2">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="eye_tran3">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_eye_leftright">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="eyemotor3">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>


	<!--Torso-->

<transmission name="waist_tran1">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="waist_rotate">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="waistmotor1">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="waist_tran2">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="waist_lean">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="waistmotor2">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>



	<!--Right Arm-->

<transmission name="rshoulder_tran1">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_shoulder_side">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rshouldermotor1">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rshoulder_tran2">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_shoulder_up">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rshouldermotor2">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rbicep_tran1">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_bicep_rotate">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rbicepmotor1">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="relbow_tran2">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_elbow">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="relbowmotor2">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>



	<!--Left Arm-->

<transmission name="lshoulder_tran1">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_shoulder_side">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lshouldermotor1">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="lshoulder_tran2">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_shoulder_up">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lshouldermotor2">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="lbicep_tran1">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_bicep_rotate">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lbicepmotor1">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="lelbow_tran2">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_elbow">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lelbowmotor2">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>



	<!--Right Hand-->

<transmission name="rthumb_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_thumbMCP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rthumbmotor">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rthumb_tran1">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_thumbCMC">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rthumbmotor1">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rthumb_tran3">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_thumbIP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rthumbmotor3">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>


<transmission name="rindex_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_indexPIP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rindexmotor">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rindex_tran1">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_indexMCP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rindexmotor1">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rindex_tran3">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_indexDIP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rindexmotor3">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>


<transmission name="rmiddle_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_middlePIP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rmiddlemotor">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rmiddle_tran1">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_middleMCP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rmiddlemotor1">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rmiddle_tran3">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_middleDIP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rmiddlemotor3">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>


<transmission name="rring_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_ringMCP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rringmotor">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rring_tran1">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_ringCMC">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rringmotor1">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rring_tran3">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_ringPIP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rringmotor3">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rring_tran4">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_ringDIP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rringmotor4">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>


<transmission name="rpinky_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_pinkyMCP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rpinkymotor">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rpinky_tran1">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_pinkyCMC">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rpinkymotor1">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rpinky_tran3">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_pinkyPIP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rpinkymotor3">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rpinky_tran4">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_pinkyDIP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rpinkymotor4">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>


<transmission name="rwrist_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_wrist">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rwristmotor">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>



	<!--Left Hand-->

<transmission name="lthumb_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_thumbMCP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lthumbmotor">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="lthumb_tran1">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_thumbCMC">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lthumbmotor1">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="lthumb_tran3">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_thumbIP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lthumbmotor3">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>


<transmission name="lindex_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_indexPIP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lindexmotor">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="lindex_tran1">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_indexMCP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lindexmotor1">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="lindex_tran3">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_indexDIP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lindexmotor3">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>


<transmission name="lmiddle_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_middlePIP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lmiddlemotor">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="lmiddle_tran1">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_middleMCP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lmiddlemotor1">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="lmiddle_tran3">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_middleDIP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lmiddlemotor3">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>


<transmission name="lring_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_ringMCP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lringmotor">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="lring_tran1">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_ringCMC">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lringmotor1">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="lring_tran3">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_ringPIP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lringmotor3">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="lring_tran4">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_ringDIP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lringmotor4">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>


<transmission name="lpinky_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_pinkyMCP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lpinkymotor">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="lpinky_tran1">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_pinkyCMC">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lpinkymotor1">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="lpinky_tran3">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_pinkyPIP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lpinkymotor3">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="lpinky_tran4">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_pinkyDIP">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lpinkymotor4">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>


<transmission name="lwrist_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_wrist">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="lwristmotor">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

</robot>
