<!-- Copyright 2017 University of Cincinnati
     All rights reserved. See LICENSE file at:
     https://github.com/MatthewVerbryke/inmoov-ros
     Additional copyright may be held by others, as reflected in the commit history.-->

<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find inmoov_description)/robots/inmoov.xacro'"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">	
    <param name="use_gui" value="TRUE"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find inmoov_description)/inmoov.rviz"/>

</launch>
